GTI_WebCore/Models/ReportModels/Certidao.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" >
  <!-- XML Schema Generated from XML Document on Tue Aug 13 2019 14:13:53 GMT-0300 (Horário Padrão de Brasília) -->
  <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
  <xsd:element name="Certidao">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Codigo" type="xsd:int"></xsd:element>
        <xsd:element name="Ano" type="xsd:int"></xsd:element>
        <xsd:element name="Numero" type="xsd:int"></xsd:element>
        <xsd:element name="Numero_Ano" type="xsd:string"></xsd:element>
        <xsd:element name="Inscricao" type="xsd:string"></xsd:element>
        <xsd:element name="Nome_Requerente" type="xsd:string"></xsd:element>
        <xsd:element name="Endereco" type="xsd:string"></xsd:element>
        <xsd:element name="Endereco_Numero" type="xsd:int"></xsd:element>
        <xsd:element name="Endereco_Complemento" type="xsd:string"></xsd:element>
        <xsd:element name="Bairro" type="xsd:string"></xsd:element>
        <xsd:element name="Quadra_Original" type="xsd:string"></xsd:element>
        <xsd:element name="Lote_Original" type="xsd:string"></xsd:element>
        <xsd:element name="Controle" type="xsd:string"></xsd:element>
        <xsd:element name="Data_Geracao" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Area" type="xsd:decimal"></xsd:element>
        <xsd:element name="VVT" type="xsd:decimal"></xsd:element>
        <xsd:element name="VVP" type="xsd:decimal"></xsd:element>
        <xsd:element name="VVI" type="xsd:decimal"></xsd:element>
        <xsd:element name="Numero_Processo" type="xsd:string"></xsd:element>
        <xsd:element name="Data_Processo" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Percentual_Isencao" type="xsd:decimal"></xsd:element>
        <xsd:element name="Insc_Estadual" type="xsd:string"></xsd:element>
        <xsd:element name="Data_Abertura" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Data_Encerramento" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Processo_Abertura" type="xsd:string"></xsd:element>
        <xsd:element name="Processo_Encerramento" type="xsd:string"></xsd:element>
        <xsd:element name="Cpf_Cnpj" type="xsd:string"></xsd:element>
        <xsd:element name="Razao_Social" type="xsd:string"></xsd:element>
        <xsd:element name="Nome_Fantasia" type="xsd:string"></xsd:element>
        <xsd:element name="Atividade_Extenso" type="xsd:string"></xsd:element>
        <xsd:element name="Cnae_Principal" type="xsd:string"></xsd:element>
        <xsd:element name="Cnae_Secundario" type="xsd:string"></xsd:element>
        <xsd:element name="Rg" type="xsd:string"></xsd:element>
        <xsd:element name="Cidade" type="xsd:string"></xsd:element>
        <xsd:element name="uf" type="xsd:string"></xsd:element>
        <xsd:element name="Exercicio" type="xsd:short"></xsd:element>
        <xsd:element name="Lancamento_codigo" type="xsd:byte"></xsd:element>
        <xsd:element name="Lancamento_nome" type="xsd:string"></xsd:element>
        <xsd:element name="Sequencia_Lancamento" type="xsd:byte"></xsd:element>
        <xsd:element name="Parcela" type="xsd:byte"></xsd:element>
        <xsd:element name="Complemento" type="xsd:byte"></xsd:element>
        <xsd:element name="Data_Vencimento" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Data_Pagamento" type="xsd:dateTime"></xsd:element>
        <xsd:element name="Valor_Pago" type="xsd:decimal"></xsd:element>
        <xsd:element name="Tipo_Certidao" type="xsd:string"></xsd:element>
        <xsd:element name="Nao" type="xsd:string"></xsd:element>
        <xsd:element name="Certifica" type="xsd:string"></xsd:element>
        <xsd:element name="Tributo" type="xsd:string"></xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>